html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  color: $title-color-dark;
  text-transform: uppercase;
  @extend %gilroy-extra-bold;
}

body {
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  @extend %jura-bold;
}

.container {
  max-width: 1720px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

.btn {
  display: inline-block;
  @extend %gilroy-extra-bold;
  font-size: 18px;
  line-height: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto 0;
  position: relative;
  padding-top: 21px;
  padding-bottom: 21px;
  &:focus {
    outline: 2px solid #000;
  }
  &::after {
    position: absolute;
  }
  &:hover::after {
    z-index: 2;
  }
  &::before {
    content: '';
    width: 0;
    height: 70px;
    position: absolute;
    transition: all 0.3s ease-Out;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

.main-btn {
  color: $main-color;
  background-color: $color-light;
  &::before {
    background: $main-color;
    border: solid 1px $color-light;
  }
  &::after {
    content: url(../images/arrow-right-main.svg);
  }
  &:hover::after {
    content: url(../images/arrow-right-light.svg);
  }
}

.light-btn {
  color: $color-light;
  background-color: $main-color;
  &::before {
    background: $color-light;
    border: solid 1px $main-color;
  }
  &::after {
    content: url(../images/arrow-right-light.svg);
  }
  &:hover::after {
    content: url(../images/arrow-right-main.svg);
  }
}

.title {
  font-style: normal;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: 0.03em;
  transition: font-size 0.3s ease-out;
}

.text {
  font-size: 24px;
  line-height: 28px;
  color: $text-color-dark;
  transition: font-size 0.3s ease-out;
}
