@media (max-width: 1500px) {
  .title {
    font-size: 54px;
    line-height: 62px;
  }
  .header {
    &__phone {
      font-size: 0;
      line-height: 0;
      padding-right: 20px;
    }
  }

  .activity {
    &__title-list {
      min-height: 72px;
    }
    &__title-item {
      font-size: 36px;
      line-height: 42px;
    }
    &__title-item--active {
      font-size: 64px;
      line-height: 72px;
    }
    &__title-link + .activity__title-link {
      margin-left: 30px;
    }
  }
}

@media (max-width: 1200px) {
  .text {
    font-size: 22px;
    line-height: 26px;
  }
  .btn {
    font-size: 14px;
    line-height: 20px;
    padding-right: 70px;
    padding-left: 20px;
    z-index: 1;
    &::before {
      height: 62px;
    }
    &::after {
      right: 25px;
    }
    &:hover::before {
      width: 60px;
    }
  }
  .header {
    &__phone {
      padding-right: 0;
    }
    &__menu-link {
      font-size: 16px;
    }
  }

  .activity {
    &__title-list {
      min-height: 64px;
    }
    &__title-item {
      font-size: 32px;
      line-height: 36px;
    }
    &__title-item--active {
      font-size: 56px;
      line-height: 64px;
    }
    &__content-text {
      max-width: 70%;
      font-size: 16px;
    }
  }

  .about {
    &__advantages {
      li {
        font-size: 16px;
      }
    }
    &__fact-text {
      font-size: 16px;
    }
  }

  .products {
    &__item {
      min-width: 300px;
      padding: 33px 50px 30px 18px;
      &::before {
        width: 60px;
        height: 90px;
      }
      &::after {
        top: 88px;
      }
    }
    &__item-title {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .projects {
    &__list {
      justify-content: center;
    }
  }
}

@media (max-width: 1100px) {
  .title {
    font-size: 50px;
    line-height: 58px;
  }
  .text {
    font-size: 18px;
    line-height: 24px;
  }
  .header {
    &__menu-link {
      font-size: 14px;
    }
  }

  .activity {
    &__title-list {
      min-height: 60px;
    }
    &__title-item {
      font-size: 30px;
      line-height: 34px;
    }
    &__title-item--active {
      font-size: 50px;
      line-height: 58px;
    }
    &__content-text {
      font-size: 14px;
    }
  }

  .about {
    &__inner {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__content {
      margin-right: 50px;
    }
    &__advantages {
      li {
        font-size: 14px;
      }
    }
    &__fact-text {
      font-size: 14px;
    }
  }

  .products {
    &__inner {
      padding-top: 50px;
      padding-bottom: 80px;
    }
  }

  .solutions {
    &__inner {
      padding-top: 50px;
      padding-bottom: 60px;
    }
  }

  .partners {
    &__inner {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    &__items {
      max-width: 530px;
      margin: 0 auto;
    }
    &__link {
      flex: 0 1 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  .projects {
    &__inner {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &__item {
      margin-bottom: 35px;
      margin-right: 0;
      img {
        margin-bottom: 10px;
        min-width: 100%;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    &__item-title {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }
  .btn:hover::before {
    width: 0;
  }
  .main-btn:hover::after {
    content: url(../images/arrow-right-main.svg);
  }
  .light-btn:hover::after {
    content: url(../images/arrow-right-light.svg);
  }
  .header {
    &__inner {
      justify-content: flex-end;
    }
    &__menu {
      overflow: auto;
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #c9202f;
      padding: 90px 0 0 0;
      z-index: 2;
    }
    &__menu-list {
      display: block;
      padding-left: 20px;
    }
    &__menu-item {
      margin: 0 0 30px 0;
      max-width: 150px;
    }
    &__menu-link {
      font-size: 24px;
      padding: 0;
      display: inline-block;
      &:hover {
        background-color: $main-color;
        color: $color-light;
      }
    }
    &__phone {
      margin: 20px;
      z-index: 3;
    }
    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: #fff;
        transition: all 0.3s ease-out;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease-out;
      }
    }
    &__burger--active {
      display: block;
      transition: all 1s;
    }
  }

  .header__menu.header__burger--active {
    top: 0;
  }
  .header__burger.header__burger--active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.header__burger--active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.header__burger--active span {
    transform: scale(0);
  }

  .activity {
    &__title-list {
      display: block;
      min-height: 150px;
    }
    &__title-link + .activity__title-link {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .products {
    &__items {
      flex-direction: column;
      margin: 0 auto;
      max-width: 500px;
    }
    &__item {
      margin-bottom: 20px;
    }
    &__item-link {
      &:hover::after {
        width: 0;
      }
    }
  }

  .solutions {
    &__title {
      margin-bottom: 0;
    }
    &__list {
      margin-bottom: 45px;
    }
    &__item {
      &:hover::before {
        width: 0;
      }
      &:hover::after {
        opacity: 0;
      }
      &:hover img {
        opacity: 1;
      }
    }
    &__link {
      min-width: 200px;
      min-height: 100%;
    }
  }

  .partners {
    &__link {
      &:hover::before,
      &:hover::after {
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
  }

  .projects {
    &__item-title {
      font-size: 24px;
      line-height: 30px;
    }
    img {
      opacity: 1;
    }
    &__item:hover .projects__item-title::before {
      width: 0;
    }
    &__item:hover .projects__item-title {
      color: $title-color-dark;
    }
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 38px;
    line-height: 44px;
  }
  .activity {
    height: 100%;
    &__title-images {
      margin-bottom: 50px;
      img {
        max-width: 30vw;
      }
      img:nth-child(2n) {
        display: none;
      }
    }
    &__title-list {
      min-height: 60px;
    }
    &__title-item {
      font-size: 28px;
      line-height: 34px;
    }
    &__title-item--active {
      font-size: 38px;
      line-height: 44px;
    }
    &__content {
      display: block;
    }
    &__content-text {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .about {
    &__inner {
      flex-direction: column;
      padding-bottom: 40px;
      padding-top: 40px;
    }
    &__content {
      display: contents;
    }
    &__title,
    &__text {
      margin-bottom: 15px;
    }
    &__advantages {
      margin-bottom: 10px;
      li {
        margin-bottom: 10px;
      }
    }
    &__btn {
      order: 5;
      max-width: 274px;
    }
    &__facts-list {
      display: flex;
    }
    &__fact {
      &::before {
        width: 90px;
        height: 22px;
        top: 40px;
      }
      &:nth-child(2)::before {
        width: 120px;
      }
      & + .about__fact {
        margin-left: 30px;
      }
    }
    &__fact-title {
      font-size: 50px;
      line-height: 58px;
    }
  }

  .projects {
    &__title {
      font-size: 36px;
      line-height: 42px;
    }
  }

  .footer {
    &__inner {
      padding-top: 53px;
      padding-bottom: 30px;
    }
    &__left {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .solutions {
    &__link {
      min-width: 160px;
    }
  }
  .partners {
    &__link {
      margin: 10px auto;
      display: block;
    }
  }

  .footer {
    &__inner {
      display: block;
    }
    &__middle {
      margin-bottom: 20px;
    }
    &__middle-item {
      margin-bottom: 30px;
      img {
        margin-bottom: 30px;
      }
      li {
        margin-bottom: 15px;
      }
    }
    &__right-text p {
      margin-bottom: 10px;
    }
  }
  .copyright {
    margin-bottom: 20px;
  }
  .social-icons {
    margin-bottom: 20px;
  }
}
