$main-color: #c9202f;
$text-color-light: #fff;
$text-color-dark: #403f46;

%jura-light {
  font-family: 'Jura', sans-serif;
  font-weight: 300;
}
%jura-bold {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}

%gilroy-extra-bold {
  font-family: 'Gilroy Extra Bold', sans-serif;
  font-weight: 800;
}
