@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: $color-light;
  background-color: $main-color;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    z-index: 3;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
  &__logo {
    padding: 11px 11px 10px 17px;
    background-color: #fff;
    img {
      display: block;
    }
  }
  &__logo-mobile {
    display: none;
  }
}

.header__burger {
  display: none;
}

.skroll-block {
  background-color: #fff;
  color: $text-color-dark;
  border-bottom: 1px solid $text-color-dark;
}

.menu {
  position: relative;
  margin: auto 0;
  font-size: 18px;
  line-height: 18px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__list-link {
    padding: 34px 10px 33px 10px;
    transition: all 0.5s ease-out;
  }
  &__list-link:hover,
  &__list-link:focus {
    background-color: $color-light;
    color: $text-color-dark;
  }
  &__list-link:focus {
    outline: none;
  }
}

.header__phone {
  margin: auto 0;
  font-size: 24px;
  line-height: 28px;
  &-link {
    display: inline-block;
  }
}

.activity {
  color: $color-light;
  margin-bottom: 40px;
  height: 100vh;
  background-color: $main-color;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)), #c9202f;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 40px;
  }
  &__title-images {
    margin-bottom: 85px;
  }
  &__title-list {
    display: flex;
    align-items: flex-end;
    margin-bottom: 60px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 160px;
      height: 6px;
      background-color: #fff;
      bottom: -30px;
    }
  }
}

.activity__title-link {
  & + .activity__title-link {
    margin-left: 55px;
  }
  color: $color-light;
  font-size: 41px;
  line-height: 56px;
  letter-spacing: 0.03em;
  opacity: 0.6;
  text-transform: uppercase;
  @extend %gilroy-extra-bold;
  transition: opacity 1s ease-out;
}

.activity__title-item {
  opacity: 0.45;
  transition: opacity 1s ease-out;
  &:focus {
    outline: none;
  }
}

.activity__title-item--active {
  font-size: 78px;
  line-height: 86px;
  opacity: 1;
}

.activity__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  &-text {
    max-width: 770px;
    @extend %jura-bold;
    font-size: 18px;
    line-height: 28px;
  }
}

.activity__btn {
  padding-right: 100px;
  padding-left: 38px;
  &::after {
    right: 40px;
  }
  &:hover::before {
    width: 85px;
  }
}

.about__inner {
  max-width: 1112px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 110px;
}

.about__content {
  max-width: 710px;
}

.about__title {
  margin-bottom: 39px;
}

.about__text {
  margin-bottom: 50px;
}

.about__advantages {
  @extend %jura-light;
  font-size: 18px;
  line-height: 28px;
  color: $text-color-dark;
  padding-left: 25px;
  margin-bottom: 70px;
  & li {
    position: relative;
    margin-bottom: 27px;
  }
  & li::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 13px;
    background-color: $main-color;
    top: 8px;
    left: -21px;
  }
}

.about__btn {
  padding-right: 76px;
  padding-left: 38px;
  &::after {
    right: 29px;
  }
  &:hover::before {
    width: 70px;
  }
}

.about__fact {
  margin-bottom: 40px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 125px;
    height: 30px;
    background: linear-gradient(104.76deg, rgba(255, 255, 255, 0.25) -34.36%, rgba(255, 255, 255, 0) 100%), $main-color;
    left: 0;
    top: 60px;
    z-index: -1;
  }
  &-title {
    @extend %gilroy-extra-bold;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color-dark;
    text-shadow: 6px 6px 0px #ffffff;
    z-index: 1;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  &-text {
    @extend %jura-bold;
    font-size: 18px;
    line-height: 24px;
    color: $text-color-dark;
  }
}

.about__fact:nth-child(2) {
  &::before {
    width: 165px;
  }
}

.products {
  background: linear-gradient(104.76deg, rgba(255, 255, 255, 0.25) -34.36%, rgba(255, 255, 255, 0) 100%), #f8f8f8;
  &__inner {
    max-width: 1112px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 270px;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
}

.products__item {
  position: relative;
  min-width: 350px;
  padding: 33px 70px 40px 18px;
  background-color: $color-light;
  color: $title-color-dark;
  z-index: 1;
  &:hover {
    transition: all 0.5s ease-Out;
    box-shadow: 4px 24px 30px rgba(34, 34, 35, 0.12);
    color: $color-light;
  }
  &::before {
    content: '';
    position: absolute;
    width: 65px;
    height: 110px;
    background-color: #2accb8;
    top: 0;
    right: 0;
    transition: all 0.5s ease-Out;
    z-index: -1;
  }
  &:hover::before {
    width: 100%;
  }
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #2accb8;
    left: 19px;
    top: 108px;
  }
  &-title {
    @extend %gilroy-extra-bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 65px;
  }
  &-line {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 7px;
  }
  &-link {
    color: $text-color-dark;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: #2accb8;
      transition: all 0.5s ease-out;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.products__item:first-child .products__item-link::after {
  background-color: $main-color;
}

.products__item:last-child .products__item-link::after {
  background-color: #2b9bcc;
}

.products__item:first-child::after,
.products__item:first-child::before {
  background-color: $main-color;
}

.products__item:last-child::after,
.products__item:last-child::before {
  background-color: #2b9bcc;
}

.solutions {
  background: linear-gradient(104.76deg, rgba(255, 255, 255, 0.25) -34.36%, rgba(255, 255, 255, 0) 100%), $main-color;
  &__inner {
    max-width: 1112px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 102px;
  }
  &__title {
    color: $color-light;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__item {
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 225px;
      background-color: #fff;
      transition: all 0.5s ease-out;
      z-index: -1;
    }
    &:hover::before {
      width: 100%;
    }
    &::after {
      content: url('../images/arrow-btn.svg');
      position: absolute;
      top: 110px;
      left: 50%;
      opacity: 0;
      z-index: -1;
    }
    &:hover::after {
      opacity: 1;
    }
    &:hover img {
      opacity: 0;
    }
  }
  &__link {
    display: inline-block;
    min-width: 255px;
    min-height: 225px;
    text-align: center;
    padding-top: 30%;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__text {
    text-transform: uppercase;
    color: $color-light;
  }
  &__btn {
    padding-right: 73px;
    padding-left: 40px;
    &::after {
      right: 30px;
    }
    &:hover::before {
      width: 70px;
    }
  }
}

.partners {
  background: linear-gradient(104.76deg, rgba(255, 255, 255, 0.25) -34.36%, rgba(255, 255, 255, 0) 100%), #f8f8f8;
  &__inner {
    padding-top: 100px;
    padding-bottom: 120px;
    max-width: 1112px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    min-width: 255px;
    min-height: 150px;
    background-color: $color-light;
    position: relative;
    transition: color 0.25s;

    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px solid transparent;
      width: 0;
      height: 0;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }
    &:hover::before {
      border-top-color: $main-color;
      border-right-color: $main-color;
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }
    &:hover::after {
      border-bottom-color: $main-color;
      border-left-color: $main-color;
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    }

    & img {
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.projects {
  &__inner {
    padding-top: 112px;
    padding-bottom: 117px;
  }
  &__title {
    max-width: 1112px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 70px;
    text-align: center;
    max-width: 540px;
    :hover {
      transition: all 0.8s ease-out;
      opacity: 1;
    }
    img {
      margin-bottom: 26px;
      opacity: 0.5;
      width: 540px;
      height: 300px;
      object-fit: cover;
    }
    a {
      display: inline-block;
    }
  }
  &__item-title::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: $main-color;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &__item:hover .projects__item-title::before {
    transition: all 0.8s ease-out;
    width: 100%;
  }
  &__item:hover .projects__item-title {
    color: $color-light;
  }
  &__item-title {
    position: relative;
    @extend %gilroy-extra-bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color-dark;
    margin-bottom: 16px;
  }
  &__btn-container {
    max-width: 1112px;
    margin: 0 auto;
  }
  &__btn {
    padding-right: 77px;
    padding-left: 29px;
    &::after {
      right: 30px;
    }
    &:hover::before {
      width: 70px;
    }
  }
}

.footer {
  color: $text-color-dark;
  background: linear-gradient(104.76deg, rgba(255, 255, 255, 0.25) -34.36%, rgba(255, 255, 255, 0) 100%), #f8f8f8;
  &__inner {
    max-width: 1112px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 122px;
    padding-bottom: 122px;
  }
  &__left {
    max-width: 237px;
  }
  &__menu-item {
    font-size: 18px;
    line-height: 28px;
    list-style: inside;
    & + .footer__menu-item {
      margin-top: 27px;
    }
  }
  &__middle {
    max-width: 271px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__middle-item {
    position: relative;
    ::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 5px;
      background-color: $main-color;
      top: 30px;
      left: 0;
    }
    img {
      margin-bottom: 40px;
      padding-left: 17px;
      display: block;
    }
    li {
      margin-bottom: 23px;
    }
  }
  &__right {
    max-width: 255px;
  }
}

.copyright {
  margin-bottom: 50px;
}

.social-link {
  min-width: 50px;
  min-height: 50px;
  background-color: #eaeaea;
  display: inline-block;
  text-align: center;
  padding-top: 14px;
  margin-bottom: 55px;
  & + .social-link {
    margin-left: 30px;
  }
}

.footer__right-text {
  max-width: 220px;
  & p {
    margin-bottom: 30px;
  }
}
@import 'media';
